@import '../../Assets//globalStyles.css';

.contentWrapper {


}
.contentWrapper h2 {
    /* transform: rotate(-90deg) translate(-100%, 0);
transform-origin: 0 0; */
    font-size: 3.5em;

    margin-top: 15px;


color: var(--g_main-color);
    /* right: 100%;
    white-space: nowrap; */
}


@media only screen and (max-width: 800px) {
    .contentWrapper h2 {
        transform-origin: center;
        transform: rotate(00deg) translate(0, 0);
        margin-left: 0px;
        margin-top: 0px;
        position: relative;
        font-size: 3.5em;
        margin: 0 auto;
        text-align: center;
    }
    
}

