@import '../../../Assets//globalStyles.css';

.element {
    width: 90%;
    padding: 20px 30px;
    position: relative;
    left: 0px;
    top: 0px;
}

.element img {
    display: unset;
    width: 80px;
    height: auto;

    padding: 0px 20px 0px 0px;
}

.element p {
    height: 100%;
    float: right;
    width: 80%;
    padding: 15px 0px;
    font-size: 1.1em;
    color: black;
}

@media only screen and (min-width: 1800px) {
    .element p {
        font-size: 1.4em;
    }
    
}


@media only screen and (max-width: 700px) {
    .element img {
        display: block;
        margin: 0 auto;
    }
    
    .element p {
        text-align: center;
        margin: 0 auto;
        float: unset;
        width: 90%;
    }
    
}